body {
  	margin: 0;
}

/*
 头部区域 
 */

.head {
  	width: 100%;
  	height: 80px;
  	background: #333333;
}

.logo-nav {
	position: relative;
  	margin: 0 auto;
  	width: 960px;
}

.logo-nav span {
	line-height: 80px;
  	color: #ffffff;
  	font-size: 30px; 	
}

.top-nav {
  	position: absolute;
  	right: 0;
  	top: 10px;
}

.top-nav a {
	  margin-right: 10px;
	  color: #ffffff;
}

.top-nav .login {
  	margin-right: 0;
}

/*
 Banner 区域 
 */

.banner {
  	width: 100%;
  	height: 300px;
  	background: #66bb33;
  
}
 .banner div {
	position: relative; 
	margin: 0 auto;
   	width: 960px;
   	height: 300px;
} 
.banner span {
	border: 1px solid #14250a;
  	width: 30px;
	height: 35px;
	line-height: 35px;
  	text-align: center;
  	background: #b2dd99;	
}
.banner-one {
  	position: absolute;
  	right: 105px;
  	bottom: 5px;
}

.banner .banner-two {
  	position: absolute;
  	right: 70px;
  	bottom: 5px;
  	padding-top: 15px;
	background: #e0f1d6;
}

.banner-three {
  	position: absolute;
  	right: 35px;
  	bottom: 5px;
}

.banner-four {
  	position: absolute;
  	right: 0px;
  	bottom: 5px;
}
/* .one:hover,
.two:hover,
.three:hover,
.four:hover {
	padding-top: 15px;
	background: #e0f1d6;
} */
/* 
主导航区域
 */

.main-nav {
	border-bottom: 1px solid #dddddd;
	padding: 100;
  	width: 100%;
  	height: 75px; 
}

.nav {
	position: relative;
	margin: 0 auto;
  	width: 960px;
  	height: 51px;	
}
.nav span {
	float: left;
	width: 105px;
	height: 50px;
  	border: 1px solid #dddddd;	
	text-align: center;
	border-radius: 20px 20px 0 0;
	line-height: 50px;
	background: #eeeeee;
}

.nav .nav-home {
	position: absolute;
	top: 25px;
  	border-bottom: 0;
	  background: #ffffff;
}

.nav-profile {
  	position: absolute;
  	left: 105px;
  	top: 25px;
}
.nav-about {
  	position: absolute;
  	left: 210px;
  	top: 25px;
}

/* .home:hover,
.profile:hover,
.about:hover {
	background: #ffffff;
} */
/* 
主要内容区域 
*/

.main {
  	margin: 0 auto;
  	width: 960px;
}

.main .main-first-line,
.main .main-second-line,
.main .main-third-line
 {
  	display: flex;
  	border: 0;
 
}
.main .main-first-line {
  	margin-top: 0;
}

.main div {
  	flex-grow: 1;
  	height: 175px;
	margin: 10px 10px 10px 0;
  	border: 1px solid #dddddd;
  	line-height: 175px;
  	text-align: center; 
}

/* 
底部 
*/

.footer {
  	height: 120px;
  	width: 100%;
  	background: #666666;
}
.footer div {
  	margin-top: 30px;
  	padding-top: 20px;
}
.footer p {
  	width: 200px;
  	height: 20px;
  	margin: 0 auto;
	line-height: 20px;
	color: #ffffff;
}