
div {
	font-weight: 900;
	border-bottom: 1px solid #848484; 
	height: 140px;
	
}

h1 {
  background: #848484;
	color: #FFFFFF;
	margin: 0;
	height: 80px;
	padding-left: 16px; 
	line-height: 80px;
	
}
body {
  margin: 0;
}
h2 {
	width: 140px;
	height: 140px;
	background: #D6D6D6;
	margin: 0;
	text-align: center;
	line-height: 140px;
	float: left; 
	border-bottom: 1px solid #FFFFFF;
	margin: 0 20px 0 0;
}
span {
	margin-top: 10px;
	float: left;
	padding-right: 50px;
	font-weight: 700;
}
p {
	display: inline;
}
.br {
	display: none;
}